html {
    font-family: 'HelveticaNeue';
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

html, body, #__nuxt  {
    height: 100vh;
    background-color: #ffffff;
}

